<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page API</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div id="container1">
        <div id="URL-div">
          
            <input type="text" name="URL-input" id="url-input" class="item-in-URL" placeholder="Enter Github Username">
            <select name="Search-input" id="search-input" class="item-in-URL" aria-placeholder="Enter type">
                <option value="Commits">Commits</option>
                <option value="Code">Code</option>
                <option value="Issues">Issues</option>
            </select>
            <button id="item-in-URL" type="button" class="css-button">SUBMIT</button>
        </div>
        <div id="info-div">
            <p></p>
        </div>
        <div id="container"></div>
    </div>
    



    <script src="./client.js" type="module"></script>
    <script>
        const apiKey = "<%= apiKey %>"
        const p_hidden = `
        <p style="display:none" id="apiKey">${apiKey}</p>
        `
        const container = document.getElementById("container")
        container.innerHTML += p_hidden
    </script>
</body>
</html>